.scroll-pane > .viewport {
    -fx-background-color: white;
}

.ancestor {
    -fx-stroke-width: 7.5;
    -fx-stroke: #018a23;
    -fx-stroke-dash-array: 20 1 1 20;
}

.loop {
    -fx-stroke-width: 2;
    -fx-stroke: #f55d42;
}

.child {
    -fx-stroke-width: 2;
    -fx-stroke: black;
}