.scroll-pane > .viewport {
    -fx-background-color: white;
}

.ancestor {
    -fx-stroke-width: 5;
    -fx-stroke: #018a23;
    -fx-stroke-dash-array: 0.5 15 15 0.5;
}

.loop {
    -fx-stroke-width: 2;
    -fx-stroke: #f55d42;
    /*-fx-stroke-dash-array: 0.5 15 15 0.5;*/
}